p {
  font-weight: 800;
}
#content{
  font-size: 70px;
  margin: 0;
  font-weight: 800;
  position: fixed;
  bottom: 0;
  color: rgb(170, 40, 40);
}

input{
  font-size: 20px;
}

div{
  width: fit-content;
  margin: 0;
}
